@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
}
#cardImage{
  width: 60%;
  height: 40%;
  contain: inherit;
}

.card:hover {
  border: 0.5px solid blue;
}

.card-grid {
  display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: -32px;
    width: 100%;
    margin-top: -21px;
}

.card a {
  color: black;
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.favButton:hover {
  background-color: blue;
  color: black;
}