.navbar {
  background-color: blue;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar div {
  margin: 20px;
}

.navbar a {
  color: white;
  margin: 20px;
}

.navbar a:hover {
  color: aqua;
  font-size: 18px;
}

.navbar button {
  border-radius: 50px;
  background-color: burlywood;
  color: black;
}

.navbar button:hover {
  color: white;
  background-color: black;
}
