nav {
  background-color: blue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: -22px;
}

nav div {
  margin: 20px;
}
nav a {
  color: white;
  margin: 20px;
}

nav a:hover {
  color: aqua;
  font-size: 18px;
}

nav button {
  border-radius: 50px;
  background-color: burlywood;
  color: black;
}

nav button:hover {
  color: white;
  background-color: black;
}